motor
aiohttp
requests
python-telegram-bot==20.6
pymongo
pyrate-limiter==3.1.0
apscheduler==3.6.3
tgcrypto 
httpx[http2]
cachetools 
imgkit
pillow
apscheduler==3.6.3
aiofiles
python-dotenv==0.21.0
git+https://github.com/MrZyro/pyrogram.git
